PharmInventory/Service References/RRFTransactionService/ServiceOrder44.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://213.55.76.188/TestServices/Order/ServiceOrder.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PLITS.Entities" />
  <xs:import schemaLocation="http://213.55.76.188/TestServices/Order/ServiceOrder.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SubmitFacilityOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplyChainUnitId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PLITS.Entities" minOccurs="0" name="Orders" nillable="true" type="q1:ArrayOfOrder" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitFacilityOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PLITS.Entities" minOccurs="0" name="SubmitFacilityOrdersResult" nillable="true" type="q2:ArrayOfSubmitResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacilityApprovedOrdersCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchId" type="xs:int" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacilityApprovedOrdersCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFacilityApprovedOrdersCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacilityApprovedOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchId" type="xs:int" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacilityApprovedOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PLITS.Entities" minOccurs="0" name="GetFacilityApprovedOrdersResult" nillable="true" type="q3:ArrayOfApprovedOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmFacilityApprovedOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Orderids" nillable="true" type="q4:ArrayOfint" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmFacilityApprovedOrdersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitFacilityIssues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchId" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PLITS.Entities" minOccurs="0" name="Issuances" nillable="true" type="q5:ArrayOfIssuance" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitFacilityIssuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PLITS.Entities" minOccurs="0" name="SubmitFacilityIssuesResult" nillable="true" type="q6:ArrayOfValidationMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitBranchOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplyChainUnitId" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PLITS.Entities" minOccurs="0" name="Orders" nillable="true" type="q7:ArrayOfOrder" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitBranchOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PLITS.Entities" minOccurs="0" name="SubmitBranchOrdersResult" nillable="true" type="q8:ArrayOfSubmitResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchApprovedOrdersCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchApprovedOrdersCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBranchApprovedOrdersCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchApprovedOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchApprovedOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PLITS.Entities" minOccurs="0" name="GetBranchApprovedOrdersResult" nillable="true" type="q9:ArrayOfApprovedOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmBranchApprovedOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Orderids" nillable="true" type="q10:ArrayOfint" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmBranchApprovedOrdersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitBranchIssues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PLITS.Entities" minOccurs="0" name="Issuances" nillable="true" type="q11:ArrayOfIssuance" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitBranchIssuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PLITS.Entities" minOccurs="0" name="SubmitBranchIssuesResult" nillable="true" type="q12:ArrayOfValidationMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>