PharmInventory/Service References/RRFService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://rrf.pfsa.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://rrf.pfsa.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rrf.pfsa.org/">
      <s:element name="SubmitRRF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="submission" type="tns:RrfSubmission" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RrfSubmission">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FacilityName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartMonth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EndMonth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfRRFItem" />
          <s:element minOccurs="0" maxOccurs="1" name="ReportedBy" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRRFItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RRFItem" nillable="true" type="tns:RRFItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RRFItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BBalance" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EBalance" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LossAdjustment" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Consumption" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Max" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Requested" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Received" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitRRFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubmitRRFResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RRFExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="facilityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="startMonth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="endMonth" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RRFExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RRFExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitOrderConfirmation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="hubId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="confirmation" type="tns:OrderConfirmation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderConfirmation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FacilityOrders" type="tns:ArrayOfFacilityOrderConfirmation" />
          <s:element minOccurs="1" maxOccurs="1" name="HubId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFacilityOrderConfirmation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FacilityOrderConfirmation" nillable="true" type="tns:FacilityOrderConfirmation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FacilityOrderConfirmation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderConfirmationDetails" type="tns:ArrayOfOrderConfirmationDetail" />
          <s:element minOccurs="1" maxOccurs="1" name="HctsOrderId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderStatus" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderConfirmationDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderConfirmationDetail" nillable="true" type="tns:OrderConfirmationDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderConfirmationDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderedQuantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IssuedQuantity" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitOrderConfirmationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubmitOrderConfirmationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRRFStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="facilityID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="startMonth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="endMonth" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRRFStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRRFStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutstandingOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="hubId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutstandingOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOutstandingOrdersResult" type="tns:ArrayOfOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Order">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FacilityId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderDetails" type="tns:ArrayOfOrderDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderDetail" nillable="true" type="tns:OrderDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Qunatity" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConfirmOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConfirmOrdersResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitRRFSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitRRF" />
  </wsdl:message>
  <wsdl:message name="SubmitRRFSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitRRFResponse" />
  </wsdl:message>
  <wsdl:message name="RRFExistsSoapIn">
    <wsdl:part name="parameters" element="tns:RRFExists" />
  </wsdl:message>
  <wsdl:message name="RRFExistsSoapOut">
    <wsdl:part name="parameters" element="tns:RRFExistsResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitOrderConfirmationSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitOrderConfirmation" />
  </wsdl:message>
  <wsdl:message name="SubmitOrderConfirmationSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitOrderConfirmationResponse" />
  </wsdl:message>
  <wsdl:message name="GetRRFStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetRRFStatus" />
  </wsdl:message>
  <wsdl:message name="GetRRFStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetRRFStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetOutstandingOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetOutstandingOrders" />
  </wsdl:message>
  <wsdl:message name="GetOutstandingOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetOutstandingOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmOrders" />
  </wsdl:message>
  <wsdl:message name="ConfirmOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SubmitRRF">
      <wsdl:input message="tns:SubmitRRFSoapIn" />
      <wsdl:output message="tns:SubmitRRFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RRFExists">
      <wsdl:input message="tns:RRFExistsSoapIn" />
      <wsdl:output message="tns:RRFExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitOrderConfirmation">
      <wsdl:input message="tns:SubmitOrderConfirmationSoapIn" />
      <wsdl:output message="tns:SubmitOrderConfirmationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRRFStatus">
      <wsdl:input message="tns:GetRRFStatusSoapIn" />
      <wsdl:output message="tns:GetRRFStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOutstandingOrders">
      <wsdl:input message="tns:GetOutstandingOrdersSoapIn" />
      <wsdl:output message="tns:GetOutstandingOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmOrders">
      <wsdl:input message="tns:ConfirmOrdersSoapIn" />
      <wsdl:output message="tns:ConfirmOrdersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitRRF">
      <soap:operation soapAction="http://rrf.pfsa.org/SubmitRRF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RRFExists">
      <soap:operation soapAction="http://rrf.pfsa.org/RRFExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitOrderConfirmation">
      <soap:operation soapAction="http://rrf.pfsa.org/SubmitOrderConfirmation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRRFStatus">
      <soap:operation soapAction="http://rrf.pfsa.org/GetRRFStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutstandingOrders">
      <soap:operation soapAction="http://rrf.pfsa.org/GetOutstandingOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmOrders">
      <soap:operation soapAction="http://rrf.pfsa.org/ConfirmOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitRRF">
      <soap12:operation soapAction="http://rrf.pfsa.org/SubmitRRF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RRFExists">
      <soap12:operation soapAction="http://rrf.pfsa.org/RRFExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitOrderConfirmation">
      <soap12:operation soapAction="http://rrf.pfsa.org/SubmitOrderConfirmation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRRFStatus">
      <soap12:operation soapAction="http://rrf.pfsa.org/GetRRFStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutstandingOrders">
      <soap12:operation soapAction="http://rrf.pfsa.org/GetOutstandingOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmOrders">
      <soap12:operation soapAction="http://rrf.pfsa.org/ConfirmOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://www.pims-ds.org/hctsim/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://www.pims-ds.org/hctsim/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>